
.Navbar{
    position: fixed;
    top:0;
    height: 30px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color:  #111;
}

.netflix-logo{
    position: fixed;
    width: 80px;
    left:30px;
}
.avatar{
    position: fixed;
    width: 30px;
    right:20px;
}
.dropdown {
    position:relative;
    display: inline-block;

  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 950px;
    margin-top: 50px;
    background-color: #111;
  }
  
  .dropdown:hover .dropdown-content {
    display: flex;
   
  }
  
  .desc {
    padding: 15px;
    text-align: center;
    margin-left: 100px;
    width:150px;
    height: 250px;
    background-color: #111;
    
  }
  