body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)) ,
    url(https://assets.nflxext.com/ffe/siteui/vlv3/a1dc92ca-091d-4ca9-a05b-8cd44bbfce6a/f9368347-e982-4856-a5a4-396796381f28/RS-en-20191230-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-color: rgba(8, 8, 8, 0.89);
}
.navbar {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    width: 100%;
    height: 50px;
    min-height: 100px;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    align-self: center;
  }

.loginParentDiv {
    background-color: black;
    border: 1px solid black;
    width: 20%;
    height: 450px;
    padding: 90px;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
   
  }
  
  .loginParentDiv .input {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    outline-color: transparent;
    width: 100%;
    height: 50px;
    
  }
  
  .loginParentDiv button {
    width: 100%;
    height: 48px;
    /* border-color: transparent; */
    background-color:red;
    color: whitesmoke;
    font-weight: 900;
  }
  .loginParentDiv button:hover {
   cursor: pointer;
  }
  
  .loginParentDiv a {
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
